# Node
node_modules/
dist/
dist-ssr/
*.local
frontend/node_modules/
frontend/dist/

# Java
target/
backend/target/
*.class
*.jar
*.war
*.ear
*.log

# Maven
.mvn/
mvnw
mvnw.cmd

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
