/* Custom Scrollbar for Sidebar */
.sidebar-nav {
  scrollbar-width: thin;
  scrollbar-color: var(--outline-variant) transparent;
}

.sidebar-nav::-webkit-scrollbar {
  width: 5px;
}

.sidebar-nav::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: var(--outline-variant);
  border-radius: 20px;
  border: transparent;
}

.sidebar-nav::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}
